body {
  background-image: url(https://i.pinimg.com/236x/df/82/15/df821587b00ab0ef7ed10ff1df0e4ba0--windows-wallpaper-wallpaper-free.jpg);

}
h2 {
  font-size: 35;
  font-weight: bolder;
  background-color: #FFA500;


}
.jumbotron {
  background-color: black;
  image: float-right;
}
#test {
  display: none;
}

#score {
  display: none;
  background-color: #FFA500;
  color: black;
  font-weight: bold;
  font-size: 30;
  font-style: oblique;
  font-family: monospace;
}
