body {
  background color:#F0E68C;

}
h2 {
  font-size: 35;
  font-weight: bolder;
  background-color: #FFA500;


}
.jumbotron {
  background-color: black;
  image: float-right;
}
#test {
  display: none;
}
#score {
  width: 300px;
  height: 150px;
  border-radius: 10%;
  background color: black;
  color: orange;
  font-weight: bold;
  font-style: oblique;
  font-family: monospace;
