body {
  background color:#F0E68C;

}
h2 {
  font-size: 35;
  font-weight: bolder;
  background-color: #FFA500;


}
.jumbotron {
  background-color: black;
  image: float-right;
}
#test {
  display: none;
}

#score {
  display: none;
  width: 600x;
  height: 150px;
  border-radius: 1%;
  background-color: #FFA500;
  color: black;
  font-weight: bold;
  font-size: 30;
  font-style: oblique;
  font-family: monospace;
}
